﻿.container #container-row #container-column .login-box {
    margin-top: 20px;
}

#loginLogo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#loginTitle {
    color: rgb(30, 136, 229);
}