﻿#message-board-background {
    background-color: white;
    height: 300px;
    overflow-y: auto;
}

#message-board
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    
}

#message-board li {
    list-style: none;
    text-wrap: normal;
    margin-bottom: 5px;
}