﻿.container #container-row #container-column .container-box {
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.container #container-row #container-column .container-box #main-form {
    padding: 20px;
}

.other-boxes {
   margin-top: 50px;
}