﻿@using FinancialChatApp.Common 

@section Head
{
    <link rel="stylesheet" href="~/css/views/chat/index.css" />
}

<div id="container-row" class="row justify-content-center align-items-center">
    <div id="container-column" class="col-md-6">
        <div class="col-md-12 container-box other-boxes">
            <br />
            <p class="float-left">Welcome <span class="font-weight-bold">@User.Identity.Name</span></p>
            <a class="float-right" asp-controller="Login" asp-action="Logout">Logout</a>
            <div class="clearfix"></div>
            <div id="message-board-background">
                <ul id="message-board"></ul>
            </div>
            <br />
            <input type="text" class="form-control" id="chatBox" placeholder="Insert your message" />
            <br />
            <button id="send" class="btn btn-block btn-success">SEND</button>
            <br />
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        const user = '@User.Identity.Name';
        const BOT_NAME = '@Literals.BOT_NAME'
    </script>
    <script src="~/lib/microsoft/signalr/signalr.min.js"></script>
    <script src="~/js/views/chat/index.js"></script>
}
