﻿@{
    ViewBag.Title = "Login";
}

@section Head
{
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/views/login/index.css" />
}

@model FinancialChatApp.Core.DTO.LoginDTO

<img src="~/img/views/login/index/messenger.png" id="loginLogo" />
<div id="container-row" class="row justify-content-center align-items-center">
    <div id="container-column" class="col-md-6">
        <div class="col-md-12 container-box login-box">
            <form id="main-form" class="form" method="post">
                <h3 class="text-center" id="loginTitle">Welcome to the Financial Chat</h3>
                <br />
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-at"></i></span>
                    </div>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email">

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <input type="submit" class="btn btn-block btn-primary" id="loginButton" value="SIGN IN" />
                <br />
                <div class="text-center">
                    <a asp-action="Register">DON'T HAVE AN ACCOUNT? SIGN UP</a>
                </div>
            </form>
        </div>
    </div>
</div>