﻿@{
    ViewBag.Title = "User Registration";
}

@section Head
{
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
}

@model FinancialChatApp.Core.DTO.RegisterUserDTO

<div id="container-row" class="row justify-content-center align-items-center">
    <div id="container-column" class="col-md-6">
        <div class="col-md-12 container-box other-boxes">
            <form id="main-form" class="form" method="post">
                <h3 class="text-center" id="loginTitle">User Registration</h3>
                <br />
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Name">

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-at"></i></span>
                    </div>
                    <input type="text" class="form-control" asp-for="Email" placeholder="Email">

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                </div>
                <div class="text-danger" asp-validation-summary="All"></div>
                <input type="submit" class="btn btn-block btn-primary" id="registerButton" value="REGISTER" />
                <a asp-action="Index" class="btn btn-block btn-danger">BACK</a>
            </form>
        </div>
    </div>
</div>